{% extends "SocialMedia/myprofil/base_myprofil.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ user.username }}{% endblock %}


{% block contentProfil %}

    {% include 'SocialMedia/myprofil/modals/modal_ajouter_langue.html' %}


    <div class="modal_form_modifier_langue">

        {% include 'SocialMedia/myprofil/modals/modal_modifier_langue.html' %}
    </div>









    <!-- Profile Details Start -->
    <div class="profile--details fs--14">


        <!-- Profile Item Start -->
        <div class="profile--item">

            <div class="profile--heading">
                <h3 class="h4 fw--700">
                    <span class="mr--4">Experiences Professionnelles</span>
                    <i class="ml--10 text-primary fa fa-caret-right"></i>

                    <a href="javascript:void(0)"><i class="fa fa-plus float--right"
                                                    style="font-size:20px;margin-right: 20px;"
                                                    aria-hidden="true"></i></a>
                </h3>

                {% include "SocialMedia/myprofil/informations/liste_experiences.html" %}
            </div>

            <div class="profile--info">
                {% for experience in experiences %}
                    <div class="row">
                        <div class="col-xs-2"><img src="{{ experience.entreprise.logo.url }}"
                                                   class="img-responsive img-rounded float--left"/></div>
                        <div class="col-xs-10">
                            <a href="{% url 'SocialMedia:editExperience' experience.id %}"><i
                                    class="fa fa-pencil-square-o float--right" style="font-size:20px;"
                                    aria-hidden="true"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-plus-square float--right"
                                                            style="font-size:20px;margin-right: 20px;"
                                                            aria-hidden="true"></i></a>
                            <div class="row"><p
                                    class="h6 fa--700 text-darkest">{{ experience.poste.nom_poste | default:experience.nom_poste }}</p>
                            </div>
                            <div class="row"><p class="h6 fw--600 text-darkest">{{ experience.entreprise.nom }}</div>
                            <div class="row"><p class="h6 fw--500 text-darkest">{{ experience.date_debut|date:"M. Y" }}
                                - {{ experience.date_fin|date:"M. Y" }}
                                &#xb7; {{ experience.date_fin|timeuntil:experience.date_debut }}</p></div>
                            <div class="row"><p class="h6 fw--400 text-darkest">{{ experience.entreprise.ville }}</div>
                            <div class="row"><p class="h6 fw--400 text-darkest"
                                                style="margin-top: 8px;">{{ experience.description }}</div>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr width="50%"
                            style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);height:1px;border:none;color:#1ea1f2;background-color:#1ea1f2"
                            ;/>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <!-- Profile Item End -->

        <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);">

        <!-- Profile Item Start -->
        <div class="profile--item">

            <div class="profile--heading">
                <h3 class="h4 fw--700">
                    <span class="mr--4">Formation</span>
                    <i class="ml--10 text-primary fa fa-caret-right"></i>
                    <a href="javascript:void(0)"><i class="fa fa-plus float--right"
                                                    style="font-size:20px;margin-right: 20px;"
                                                    aria-hidden="true"></i></a>
                </h3>
            </div>


            <div class="profile--info">

                {% for formation in formations %}
                    <div class="row">
                        <div class="col-xs-2"><img src="{{ formation.ecole.logo.url }}"
                                                   class="img-responsive img-rounded float--left"/></div>
                        <div class="col-xs-10">
                            <a href="{% url 'SocialMedia:editFormation' formation.id %}"><i
                                    class="fa fa-pencil-square-o float--right" style="font-size:20px;"
                                    aria-hidden="true"></i></a>
                            <a href="javascript:void(0)"><i class="fa fa-plus-square float--right"
                                                            style="font-size:20px;margin-right: 20px;"
                                                            aria-hidden="true"></i></a>
                            <div class="row"><p class="h6 fa--700 text-darkest">{{ formation.ecole.nom }}</p></div>
                            <div class="row"><p class="h6 fw--600 text-darkest">{{ formation.nom_formation }}
                                - {{ formation.domaine }}</div>
                            <div class="row"><p class="h6 fw--500 text-darkest">{{ formation.annee_debut|date:"Y" }}
                                - {{ formation.annee_fin|date:"Y" }}</p></div>
                        </div>
                    </div>
                    {% if not forloop.last %}
                        <hr width="50%"
                            style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);height:1px;border:none;color:#1ea1f2;background-color:#1ea1f2"
                            ;></hr>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <!-- Profile Item End -->

        <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);">

        <!-- Profile Item Start -->
        <div class="profile--item">

            <div class="profile--heading">
                <h3 class="h4 fw--700">
                    <span class="mr--4">Actions Benevoles</span>
                    <i class="ml--10 text-primary fa fa-caret-right"></i>
                    <a href="javascript:void(0)"><i class="fa fa-plus float--right"
                                                    style="font-size:20px;margin-right: 20px;"
                                                    aria-hidden="true"></i></a>
                </h3>
            </div>

            <div class="profile--info">
                <dl>
                    {% for actionBenevole in actionsBenevoles %}
                        <dt>

                        </dt>
                        <dd>
                            <div class="row">
                                <div class="col-xs-2"><img src="{{ actionBenevole.organisme.image.url }}"
                                                           alt="Supprimée" class="img-responsive img-rounded"></div>
                                <div class="col-xs-10">
                                    <a href="javascript:void(0)"><i class="fa fa-pencil-square-o float--right"
                                                                    style="font-size:20px;" aria-hidden="true"></i></a>
                                    <a href="javascript:void(0)"><i class="fa fa-plus-square float--right"
                                                                    style="font-size:20px;margin-right: 20px;"
                                                                    aria-hidden="true"></i></a>
                                    <div class="row"><p
                                            class="h6 fw--700 text-darkest">{{ actionBenevole.poste.nom_poste | default_if_none:actionBenevole.nom_poste }}
                                        <span class="h6 fw--400 text-darkest">entre</span> {{ actionBenevole.date_debut }}
                                        - {{ actionBenevole.date_fin }}</p></div>
                                    <div class="row"><p
                                            class="h6 fw--600 text-darkest">{{ actionBenevole.organisme.nom | default_if_none:actionBenevole.nom_poste }}.</p>
                                    </div>
                                    <div class="row"><p
                                            class="h6 fw--600 text-darkest">{{ actionBenevole.date_debut|date:"Y/m/d" }}
                                        - {{ actionBenevole.date_fin|date:"Y/m/d" }}
                                        &#xb7; {{ actionBenevole.date_fin|timeuntil:actionBenevole.date_debut }}</p>
                                    </div>
                                    <div class="row">
                                        <p>
                                            <small class="fw--500 fs--12 text-darker">{{ actionBenevole.cause }}</small>
                                        </p>
                                    </div>
                                    <div class="row"><p class="h6 fw--400 text-darkest">{{ actionBenevole.description }}.</p>
                                    </div>
                                </div>
                            </div>
                        </dd>
                        {% if not forloop.last %}
                            <hr width="50%"
                                style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);height:1px;border:none;color:#1ea1f2;background-color:#1ea1f2;"/>
                        {% endif %}
                    {% endfor %}
                </dl>
            </div>
        </div>
        <!-- Profile Item End -->

        <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);">

        <!-- Profile Item Start -->
        <div class="profile--item divlangue">
            <div class="profile--heading">
                <h3 class="h4 fw--700">
                    <span class="mr--4">Langues</span>
                    <i class="ml--10 text-primary fa fa-caret-right"></i>


                    <a href="javascript:return false"><i class="fa fa-plus float--right"
                                                         style="font-size:20px;margin-right: 20px;"
                                                         aria-hidden="true" data-toggle="modal"
                                                         data-target="#squarespaceAjouterLangue"></i></a>


                </h3>
            </div>

            <div class="profile--info">
                <div class="table liste_langues">

                    {% include 'SocialMedia/myprofil/informations/liste_langues.html' %}


                </div>
            </div>
        </div>
        <!-- Profile Item End -->
    </div>


    <!-- Profile Details End -->

{% endblock %}



{% block scripts %}

    {{ block.super }}

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(
                            cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>

    <script>
        $('#formAjouterLangue').on('submit', function (event) {

            event.preventDefault();

            var form_data = new FormData($(this)[0]);

            $.ajax({


                url: "{% url 'SocialMedia:ajouterLangue' %}",
                type: 'POST',
                processData: false,
                contentType: false,
                data: form_data,

                beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    $('#mySpinner').addClass('spinner');
                    $("#btnAjouterLangue").prop("disabled", true);
                },

                success: function (response) {
                    $('#squarespaceAjouterLangue').modal('hide')
                    swal("Succes", "La langue a été enregistrée avec succès.", "success")
                    $('.liste_langues').html(response);

                },

                error: function () {
                    swal('Une erreur s\'est produite.')
                },

                complete: function () {
                    $('#mySpinner').removeClass('spinner');
                    $("#btnAjouterLangue").prop("disabled", false);
                },

            });
        });


        /* Modification d'une langue */
        /* 1- Envoi de l'id avec ajax et chargement du formulaire rempli */
        function remplir_formulaire(clicked_button) {
            id_langue = clicked_button.getAttribute('data-id');

            $.ajax({


                url: "{% url 'SocialMedia:getModifierLangue' %}",
                type: 'GET',
                data: {id_langue: id_langue},

                success: function (response) {
                    if (response.message_erreur != null) {
                        swal(response.message_erreur)
                    }
                    else {
                        $('.modal_form_modifier_langue').html(response);
                    }
                },

                error: function () {
                    swal('Une erreur s\'est produite.')
                },

                complete: function () {
                    $("#squarespaceModifierLangue").modal("toggle");
                },

            });

        }

        /* Submit Modifier Langue */
        /* $('#formModifierLangue').on('submit', function (event) {==>  Marche pas car le formulaire est généré par ajax, et la fonction ne fonctionne que sur l'html déjà présent sur la page, donc on prends un div deja présent sur la page  */
        $('.modal_form_modifier_langue').on('click', "#btnModifierLangue", function (event) {
            event.preventDefault();
            var form_data = new FormData($('#formModifierLangue')[0]);

            $.ajax({

                url: "{% url 'SocialMedia:modifierLangue' %}",
                type: 'POST',
                processData: false,
                contentType: false,
                data: form_data,

                beforeSend: function (xhr, settings) {
                    var csrftoken = getCookie('csrftoken');
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                    $('#squarespaceModifierLangue').addClass('spinner');
                    $("#btnModifierLangue").prop("disabled", true);
                },

                success: function (response) {
                    $('#squarespaceModifierLangue').modal('hide')
                    swal("Succes", "La langue a été enregistrée avec succès.", "success")
                    console.log(response)
                    $('.liste_langues').html(response);

                },

                error: function () {
                    swal('Une erreur s\'est produite.')
                },

                complete: function () {
                    $('#mySpinnermodifierLangue').removeClass('spinner');
                    $("#btnModifierLangue").prop("disabled", false);
                },

            });
        });

        /* Supprimer une langue */
        function SupprimerLangue(id_langue) {
            Swal({
                title: 'Are you sure?',
                text: 'You will not be able to recover this imaginary file!',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Oui',
                cancelButtonText: 'Non'
            }).then((result) => {
                if (result.value) {
                    $.ajax({

                        url: "{% url 'SocialMedia:supprimerLangue' %}",
                        type: 'GET',
                        data: {'id_langue': id_langue},

                        beforeSend: function (xhr, settings) {
                        },

                        success: function (response) {
                            $('.liste_langues').html(response);

                            Swal(
                                '',
                                'Supprimé!',
                                'success'
                            )
                            // For more information about handling dismissals please visit
                            // https://sweetalert2.github.io/#handling-dismissals

                        },

                        error: function () {
                            swal('Une erreur s\'est produite.')
                        },

                        complete: function (response) {
                        },

                    });

                }
            })
        }

    </script>


{% endblock %}



