{% load widget_tweaks %}
<div id="formModifierLangue1">
    <div class="modal fade in" id="squarespaceModifierLangue" tabindex="-1" role="dialog"
         aria-labelledby="modalLabel"
         >
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <h3 class="modal-title" id="lineModalLabel">Modifier une langue</h3>
                </div>

                <div class="modal-body ">

                    <form class="well form-horizontal"  id="formModifierLangue" method="post"
                          style="background-color:inherit">
                        <!-- action="{ url 'SocialMedia:ajouterLangue' }" -->
                        {% csrf_token %}
                        <!-- Text input-->

                        <div class="form-group">
                            <label class="col-md-12">Langue *</label>
                            <div class="col-md-12 inputGroupContainer">
                                {% render_field formModifierLangue.langue class="form-control" %}
                            </div>

                            {% for error in formModifierLangue.nom.errors %}
                                <span class="error-block">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <!-- Select Basic -->

                        <div class="form-group">
                            <label class="col-md-12 ">Niveau *</label>
                            <div class="col-md-12 selectContainer">
                                {% render_field formModifierLangue.niveau class="form-control selectpicker" %}
                            </div>
                            {% for error in formModifierLangue.niveau.errors %}
                                <span class="error-block">{{ error }}</span>
                            {% endfor %}
                        </div>

                        <input type="hidden" value="{{ id_langue }}" name="id_langue">

                        <!-- Button -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-info float--right" id="btnModifierLangue"><span
                                        id="mySpinnermodifierLangue" style="position:relative; top: -2px;left: -15px;"></span>Enregistrer
                                </button>
                            </div>

                            <label class="col-md-12 "></label>
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>
</div>
