{% extends "SocialMedia/base_socialmedia.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ groupe.nom }}{% endblock %}
{% block content %}

    {% block modals %}
        <!-- line modal for cover -->
        <div id="#formcover">
            <div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">Choisir Votre Image</h3>
                        </div>
                        <div class="modal-body">

                            <!-- content goes here -->
                            <form method="post" onsubmit="return " id="photoform" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                              <span class="input-group-btn">
                                  <span class="btn btn-default btn-file" style="font-weight: bold;font-size: 22px;">
                                      Choisir Une Image…{% render_field photoform.image accept='image/*' class="form-control" style="cursor: pointer" id="imgInp" %}
                                  </span>
                              </span>
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group" id="photo">
                                    <img id='img-upload'/>
                                </div>
                                <div class="form-group text-center">
                                    <button class="mybt"
                                            style="background-color:#1ea1f2; border: none;border-radius:50px;color:#ffffff;display:inline-block;line-height:44px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;"
                                            type="submit"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        Changer Photo
                                    </button>
                                </div>
                            </form>
                            <div class="panel-group uploadprogress hidden">
                                <h4 class="modal-title">Uploading...</h4>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: 0%;">0%</div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btcancelupload" data-dismiss="modal"
                                            role="button"><i class="fa fa-times" aria-hidden="true"></i> Annuler
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- line modal for cover -->
        <div id="#formprofil">
            <div class="modal fade" id="squarespaceModalprofil" tabindex="-1" role="dialog" aria-labelledby="modalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span
                                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                            <h3 class="modal-title" id="lineModalLabel">Choisir Votre Image De Profil</h3>
                        </div>
                        <div class="modal-body">

                            <!-- content goes here -->
                            <form method="post" onsubmit="return " id="photoprofilform" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="input-group">
                              <span class="input-group-btn">
                                  <span class="btn btn-default btn-file1"
                                        style="font-weight: bold;font-size: 22px;cursor: pointer;">
                                      Choisir Votre Image De Profil…{% render_field photoform.image class="form-control" accept='image/*' id="imgInp1" %}
                                  </span>
                              </span>
                                        <input type="text" class="form-control" readonly>
                                    </div>
                                </div>
                                <div class="form-group" id="photo1">
                                    <img id='img-upload1'/>
                                </div>
                                <div class="form-group text-center">
                                    <button class="mybt"
                                            style="background-color:#1ea1f2; border: none;border-radius:50px;color:#ffffff;display:inline-block;line-height:44px;text-align:center;text-decoration:none;width:250px;-webkit-text-size-adjust:none;"
                                            type="submit"><i class="fa fa-check-square-o" aria-hidden="true"></i>
                                        Changer Photo
                                    </button>
                                </div>
                            </form>
                            <div class="panel-group uploadprogress hidden uploadp">
                                <h4 class="modal-title">Uploading...</h4>
                                <div class="progress">
                                    <div class="progress-bar prog" role="progressbar" style="width: 0%;">0%</div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                                <div class="btn-group" role="group">
                                    <button type="button" class="btn btn-default btcancelupload btc"
                                            data-dismiss="modal" role="button"><i class="fa fa-times"
                                                                                  aria-hidden="true"></i> Annuler
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    {% endblock %}



    <!-- Page Wrapper Start -->
    <section class="page--wrapper" style="overflow: hidden;">
        <div class="container-fluid">
            <div class="row main--content">
                        {% if user.profil in groupe.admins.all %}
                        <button id="btcoverchange" class="btchangepic" data-toggle="modal"
                                data-target="#squarespaceModal"><i class="fa fa-picture-o" aria-hidden="true"></i>
                        </button>
                        {% endif %}
                        <!-- Cover Header Start -->
                        <div id="coverpic" class="cover--header pt--80 text-center"
                             data-bg-img="{{ groupe.photo_couverture.image.url|default:'/media/SocialMedia/default.jpg' }}" style="background-size: 100% 195px;"
                             data-overlay="0.6" data-overlay-color="white">
                             

                            <div class="row " style="">
                                <div class="col-md-3 ">
                                        <div style="width: auto;padding-bottom: 30px;">
                                            <div class="cover--avatar online" data-overlay="0.3" data-overlay-color="primary">

                                                <div class="photprofilcontainer">
                                                    <img id="profilpic" class="image "  style="cursor: pointer;height: 130px;width: 130px;"
                                                         src="{{ groupe.photo_profil.image.url|default:'/media/SocialMedia/default.jpg' }}"
                                                         alt="" >
                                                            {% if user.profil in groupe.admins.all %}
                                                    <div class="middle">
                                                        <div class="text">
                                                            <a href="javascript:return false" title="Photo Profil" class="btn-link"
                                                               data-toggle="tooltip" data-placement="bottom">
                                                                <i id="btprofilchange" class="btchangepic profilpic fa fa-picture-o"
                                                                   data-toggle="modal" data-target="#squarespaceModalprofil"
                                                                   aria-hidden="true"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                            {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="col-md-6 pt--50">
                                    <div class="row">
                                            <div class="col cover--user-name">

                                                <h2 class="h3 fw--200">{{ groupe.nom }}</h2>
                                            </div>
                                            <div class="col">
                                                <h3 class="h6">{{ groupe.admins.all.count|add:groupe.moderators.all.count|add:groupe.adherents.all.count|add:1 }} Membres.</h3>
                                            </div>
                                    </div>
                                    <div class="row">
                                        <div class="" style="background-color: transparent; ">
                                            <div class="row">
                                                <h4>A propos de {{ groupe.nom }}</h4>
                                            </div>
                                            <div class="row">
                                                <p>{{ groupe.description }}.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3 pt--80">
                                        <form>
                                            <button class="bttn-material-flat bttn-md bttn-primary h6 fw--500"><i class="fa fa-check-circle-o" aria-hidden="true"></i> Joindre {{ groupe.nom }}</button>
                                        </form>


                                </div>
                            </div>
                            <div class="row" style="margin-left:0px;margin-right:0px;">
                                <hr width="75%">
                                <div class="row" style="padding-bottom: 10px;margin-left:0px;margin-right:0px;">
                                    <div class="col-md-4">
                                        <div class="row">
                                            <h1 class="h5 fw--500">Admins</h1>
                                        </div>
                                        {% for admin in groupe.admins.all|slice:"2" %}
                                            <div class="row  mb--10" style="width: 70%; margin-left: auto; margin-right: auto;">
                                                <div class="col-xs-4"><a href="{% url 'SocialMedia:getProfil' admin.id %}"><img style="height:60px;width:60px;border: 2px solid;" src="{{ admin.photo_profil.image.url }}" class="img-responsive img-circle" /></a></div>
                                                    <div class="col-xs-8 float--left mt--8">
                                                        <div class="row"><p class="h6 fa--700 text-darkest">{{ admin.user.username }}</p></div>
                                                        <div class="row"><p class="h6 fw--400 text-darkest">{{ admin.fonction }}</p></div>
                                                    </div>
                                            </div>
                                        {% endfor %}
                                        {% if groupe.admins.all.count > 2 %}
                                            <div class="row page--count ">
                                            <label class="ff--primary fs--14 fw--500 text-darker">
                                                <a href="/reseausocial/groupe/{{ groupe.id }}/admins/">Voir la liste du {{ groupe.admins.all.count|add:"-2" }} autre(s) Admin(s)</a>
                                            </label>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <h1 class="h5 fw--500">Moderateurs</h1>
                                        </div>
                                        {% for moderator in groupe.moderators.all|slice:"2" %}
                                            <div class="row  mb--10" style="width: 70%; margin-left: auto; margin-right: auto;">
                                                <div class="col-xs-4"><a href="{% url 'SocialMedia:getProfil' moderator.id %}"><img style="height:60px;width:60px;border: 2px solid;" src="{{ moderator.photo_profil.image.url }}" class="img-responsive img-circle" /></a></div>
                                                    <div class="col-xs-8 float--left mt--8">
                                                        <div class="row"><p class="h6 fa--700 text-darkest">{{ moderator.user.username }}</p></div>
                                                        <div class="row"><p class="h6 fw--400 text-darkest">{{ moderator.fonction }}</p></div>
                                                    </div>
                                            </div>
                                        {% endfor %}
                                        {% if groupe.moderators.all.count > 2 %}
                                            <div class="row page--count ">
                                            <label class="ff--primary fs--14 fw--500 text-darker">
                                                <a href="/reseausocial/groupe/{{ groupe.id }}/moderateurs/">Voir la liste du {{ groupe.moderators.all.count|cut:"-2" }} autre(s) Moderateur(s)</a>
                                            </label>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row">
                                            <h1 class="h5 fw--500">Adherents</h1>
                                        </div>
                                        {% for adherent in groupe.adherents.all|slice:"2" %}
                                            <div class="row  mb--10" style="width: 70%; margin-left: auto; margin-right: auto;">
                                                <div class="col-xs-4"><a href="{% url 'SocialMedia:getProfil' adherent.id %}"><img style="height:60px;width:60px;border: 2px solid;" src="{{ adherent.photo_profil.image.url }}" class="img-responsive img-circle" /></a></div>
                                                    <div class="col-xs-8 float--left mt--8">
                                                        <div class="row"><p class="h6 fa--700 text-darkest">{{ adherent.user.username }}</p></div>
                                                        <div class="row"><p class="h6 fw--400 text-darkest">{{ adherent.fonction }}</p></div>
                                                    </div>
                                            </div>
                                        {% endfor %}
                                        {% if groupe.adherents.all.count > 2 %}
                                        <div class="row page--count ">
                                            <label class="ff--primary fs--14 fw--500 text-darker">
                                                <a href="/reseausocial/groupe/{{ groupe.id }}/adherents/">Voir la liste du {{ groupe.moderators.all.count|cut:"-2" }} autre(s) Adherent(s)</a>
                                            </label>
                                        </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- Cover Header End -->

            </div>
            <div style="">

                <div class="col-md-8">

                    <!-- Main Content Start -->
                    <div class="row main--content pt--60" data-trigger="stickyScroll"
                         style=";width:95%;margin-left:auto;margin-right:auto;">
                        <div class="main--content-inner drop--shadow">
                            <!-- Content Nav Start -->
                            <div class="content--nav pb--30">
                                <ul class="nav ff--primary fs--14 fw--500 bg-lighter profil_links_menu">
                                    <li><a href="">Activity</a></li>
                                    <li class="active"><a href="{% url 'SocialMedia:myprofil' %}">Profil</a></li>
                                    </li>
                                    <li><a href="{% url 'SocialMedia:groupes' %}">Groups</a></li>
                                </ul>
                            </div>
                            <!-- Content Nav End -->
                            {% block contentGroupe %}


                            {% endblock %}
                        </div>
                    </div>
                    <!-- Main Content End -->
                </div>

                {% block sideBar %}

                    <!-- Main Sidebar Start -->
                    <div class="col-md-4 main--sidebar pt--60" data-trigger="stickyScroll">
                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Find A Buddy</h2>

                            <!-- Buddy Finder Widget Start -->
                            <div class="buddy-finder--widget">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-xs-6 col-xxs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">I Am</span>

                                                    <select name="gender" class="form-control form-sm"
                                                            data-trigger="selectmenu">
                                                        <option value="male">Male</option>
                                                        <option value="female">Female</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-xxs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">Looking For</span>

                                                    <select name="lookingfor" class="form-control form-sm"
                                                            data-trigger="selectmenu">
                                                        <option value="female">Female</option>
                                                        <option value="male">Male</option>
                                                        <option value="other">Other</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-xxs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">Age</span>

                                                    <select name="age" class="form-control form-sm"
                                                            data-trigger="selectmenu">
                                                        <option value="18to25">18 to 25</option>
                                                        <option value="25to30">25 to 30</option>
                                                        <option value="30to35">30 to 35</option>
                                                        <option value="35to40">35 to 40</option>
                                                        <option value="40plus">40+</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-6 col-xxs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">City</span>

                                                    <select name="city" class="form-control form-sm"
                                                            data-trigger="selectmenu">
                                                        <option value="newyork">New York</option>
                                                        <option value="California">California</option>
                                                        <option value="Atlanta">Atlanta</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>
                                                    <span class="text-darker ff--primary fw--500">Filter Country</span>

                                                    <select name="city" class="form-control form-sm"
                                                            data-trigger="selectmenu">
                                                        <option value="unitedstates">United States</option>
                                                        <option value="australia">Australia</option>
                                                        <option value="turkey">Turkey</option>
                                                        <option value="vietnam">Vietnam</option>
                                                    </select>
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-primary">Search</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Buddy Finder Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Notice</h2>

                            <!-- Text Widget Start -->
                            <div class="text--widget">
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                                    suffered alteration in some look even slightly believable.</p>
                            </div>
                            <!-- Text Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Forums</h2>

                            <!-- Links Widget Start -->
                            <div class="links--widget">
                                <ul class="nav">
                                    <li><a href="sub-forums.html">User Interface Design<span>(12)</span></a></li>
                                    <li><a href="sub-forums.html">Front-End Engineering<span>(07)</span></a></li>
                                    <li><a href="sub-forums.html">Web Development<span>(37)</span></a></li>
                                    <li><a href="sub-forums.html">Social Media Marketing<span>(13)</span></a></li>
                                    <li><a href="sub-forums.html">Content Marketing<span>(28)</span></a></li>
                                </ul>
                            </div>
                            <!-- Links Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Archives</h2>

                            <!-- Nav Widget Start -->
                            <div class="nav--widget">
                                <ul class="nav">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-o"></i>
                                            <span class="text">Jan - July 2017</span>
                                            <span class="count">(86)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-o"></i>
                                            <span class="text">Jan - Dce 2016</span>
                                            <span class="count">(328)</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-calendar-o"></i>
                                            <span class="text">Jan - Dec 2015</span>
                                            <span class="count">(427)</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- Nav Widget End -->
                        </div>
                        <!-- Widget End -->

                        <!-- Widget Start -->
                        <div class="widget">
                            <h2 class="h4 fw--700 widget--title">Advertisements</h2>

                            <!-- Ad Widget Start -->
                            <div class="ad--widget">
                                <a href="#">
                                    <img src="{% static 'SocialMedia/img/widgets-img/ad.jpg' %}" alt=""
                                         class="center-block">
                                </a>
                            </div>
                            <!-- Ad Widget End -->
                        </div>
                        <!-- Widget End -->
                    </div>
                    <!-- Main Sidebar End -->



                {% endblock %}
            </div>

        </div>
        </div>
    </section>
    <!-- Page Wrapper End -->



{% endblock %}




{% block scripts %}
    {{ block.super }}
<script>
    {% if not user.profil in groupe.admins.all %}
    $("#profilpic").on('click', function(e){
            swal({
              imageUrl: $(this).attr('src'),
              imageWidth: 1000,
              imageHeight: 1512,
              customClass: 'animated tada',
              showCloseButton: true,
            })
        });
    {% endif %}
    </script>


{% endblock %}




