{% extends "SocialMedia/groupe/base_groupe.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ groupe.nom }}{% endblock %}

{% block contentGroupe %}
                            <!-- Activity List Start -->
                            <div class="activity--list">
                                <!-- Activity Items Start -->
                                <ul class="activity--items nav">
                                    <li>
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a href="member-activity-personal.html">
                                                    <img src="img/activity-img/avatar-01.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a href="member-activity-personal.html">Eileen K. Ruiz</a> joined the group <a href="group-home.html">Food Recipes</a></p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>2 days ago</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                    <li>
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a href="member-activity-personal.html">
                                                    <img src="img/activity-img/avatar-02.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a href="member-activity-personal.html">Samuel C. Azevedo</a> posted an update in the group <a href="group-home.html">Food Recipes</a></p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>1 month ago</p>
                                                </div>

                                                <div class="activity--content">
                                                    <p>It was very tasty.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                    <li>
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a href="member-activity-personal.html">
                                                    <img src="img/activity-img/avatar-03.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a href="member-activity-personal.html">Denise R. Sherman</a> shared her new experience about recipes in the group <a href="group-home.html">Food Recipes</a></p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>2 months ago</p>
                                                </div>

                                                <div class="activity--content">
                                                    <p>Here's what one recipe reviewer had to say: "I made this recipe for the first time for my Italian mom, and she loved it! It was full of flavor. I would definitely make this again. I know it was good because my mom asked me for the recipe."</p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                    <li>
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a href="member-activity-personal.html">
                                                    <img src="img/activity-img/avatar-04.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a href="member-activity-personal.html">Leticia J. Espinosa</a> posted an update in the group <a href="group-home.html">Food Recipes</a></p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>2 months ago</p>
                                                </div>

                                                <div class="activity--content">
                                                    <p>This is one of Ina's all-time favorite recipes. It looks fancy, but it really is easy. Use crisp, tart apples like Granny Smith for the best flavor.</p>
                                                </div>

                                                <div class="activity--comments fs--12">
                                                    <ul class="acomment--items nav">
                                                        <li>
                                                            <div class="acomment--item clearfix">
                                                                <div class="acomment--avatar">
                                                                    <a href="member-activity-personal.html">
                                                                        <img src="img/activity-img/avatar-05.jpg" alt="">
                                                                    </a>
                                                                </div>

                                                                <div class="acomment--info">
                                                                    <div class="acomment--header">
                                                                        <p><a href="member-activity-personal.html">Lee E. Jones</a> Replied</p>
                                                                    </div>

                                                                    <div class="acomment--meta">
                                                                        <p><i class="fa mr--8 fa-clock-o"></i>2 months ago</p>
                                                                    </div>

                                                                    <div class="acomment--content">
                                                                        <p>Yes I’m agree with you. I was also made it. it’’s really very easy and tasty recipe.</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                    <li>
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a href="member-activity-personal.html">
                                                    <img src="img/activity-img/avatar-06.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a href="member-activity-personal.html">Bonnie P. Rock</a> shared a link in the group <a href="group-home.html">Food Recipes</a></p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>2 months ago</p>
                                                </div>

                                                <div class="activity--content">
                                                    <p>With more than 4,300 reviews and a five-star rating, Alton's classic turkey is the go-to foolproof recipe every cook can use.</p>

                                                    <p><a href="#" class="btn-link">https://www.google.com/demofoodcorner</a></p>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                    <li>
                                        <!-- Activity Item Start -->
                                        <div class="activity--item">
                                            <div class="activity--avatar">
                                                <a href="member-activity-personal.html">
                                                    <img src="img/activity-img/avatar-07.jpg" alt="">
                                                </a>
                                            </div>

                                            <div class="activity--info fs--14">
                                                <div class="activity--header">
                                                    <p><a href="member-activity-personal.html">Anita J. Lilley</a> posted an update in the group <a href="group-home.html">Food Recipes</a></p>
                                                </div>

                                                <div class="activity--meta fs--12">
                                                    <p><i class="fa mr--8 fa-clock-o"></i>2 months ago</p>
                                                </div>

                                                <div class="activity--content">
                                                    <p>here are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>

                                                    <div class="gallery--embed" data-trigger="gallery_popup">
                                                        <ul class="nav AdjustRow">
                                                            <li>
                                                                <a href="img/activity-img/gallery-embed-01.jpg">
                                                                    <img src="img/activity-img/gallery-embed-01.jpg" alt="">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="img/activity-img/gallery-embed-02.jpg">
                                                                    <img src="img/activity-img/gallery-embed-02.jpg" alt="">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="img/activity-img/gallery-embed-03.jpg">
                                                                    <img src="img/activity-img/gallery-embed-03.jpg" alt="">
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="img/activity-img/gallery-embed-04.jpg" data-overlay="0.5">
                                                                    <img src="img/activity-img/gallery-embed-04.jpg" alt="">
                                                                    <span>24+ More</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Activity Item End -->
                                    </li>
                                </ul>
                                <!-- Activity Items End -->
                            </div>
                            <!-- Activity List End -->

                        <!-- Load More Button Start -->
                        <div class="load-more--btn pt--30 text-center">
                            <a href="#" class="btn btn-animate">
                                <span>See More Activities<i class="fa ml--10 fa-caret-right"></i></span>
                            </a>
                        </div>
                        <!-- Load More Button End -->

{% endblock %}



{% block scripts %}

    {{ block.super }}

{% endblock %}



