{% extends "SocialMedia/groupe/base_groupe.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ groupe.nom }}{% endblock %}

{% block contentGroupe %}
                            <!-- Activity List Start -->

  <div class="row" style="    max-width:  100%;    margin-left: auto;    margin-right: auto;">
      <div class="well well-sm well-social-post">
        <form>
          {% render_field statutForm.contenu_statut style="transition: all 2s;" class="form-control" id="statutTextArea" placeholder="What is in your mind?" %}
          <ul class='list-inline post-actions' style="    font-size: 18px;      padding-top: 10px;">
              <li><a href="#"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
            <li><a href="#" ><i class="fa fa-file" aria-hidden="true"></i></a></li>
            <li class='pull-right'><button class="bttn-fill bttn-md bttn-royal" style="font-size: 15px;padding: 4px 25px;">Post</button></li>
          </ul>
        </form>
      </div>
  </div>
                            <div class="activity--list">
                                <!-- Activity Items Start -->
                                {% if statuts %}

                                <ul class="activity--items nav  infinite-container">

                                        {% for statut in statuts %}
                                        {% include "SocialMedia/groupe/statuts/statuts_groupe.html" %}


                                            <div class="row text-center">
                                                <img id="loadingImage" style="display: none; width: 40%;height: 5%; object-fit: contain;" class="img-rounded"  src="{% static 'SocialMedia/loading.gif' %}" />
                                            </div>
                                            <div style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);padding-bottom: 6px;background-color: #e7e7e7;    padding-bottom: 4px;">
                                            <hr style="margin-top: 5px; margin-bottom: 5px;">
                                            <div class="row ml--15">
                                                <div class="col-md-4">
                                                    <h2 class="h6 fw--400 fs--12">Likes: <code class="h6 fw--600 text-darkest">{{ statut.likes.all.count }}</code></h2>
                                                </div>
                                                <div class="col-md-4" >
                                                    <h2 class="h6 fw--400 fs--12">Comments: <code class="h6 fw--600 text-darkest">{{ statut.commentaire_set.all.count }}</code></h2>
                                                </div>
                                            </div>
                                            <hr width="70%" style="margin-bottom: 5px; margin-top: 5px;">
                                            <div class="row ml--15">
                                                <div class="col-md-3">
                                                <button style="font-size:13px;padding: 0px 8px;" class="bttn-pill bttn-md bttn-danger {% if user.profil in statut.likes.all %} hidden{% endif %}">
                                                    <i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Like
                                                </button>

                                                <button style="font-size: 13px;padding: 0px 8px;" class="bttn-pill bttn-md bttn-danger {% if user.profil not in statut.likes.all %} hidden{% endif %}">
                                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Unlike
                                                </button>
                                                </div>
                                                <div class="col-md-3">
                                                <button style="font-size: 13px;padding: 0px 8px;" class="bttn-jelly bttn-md bttn-royal">
                                                    <i class="fa fa-comment" aria-hidden="true"></i> Comment
                                                </button>
                                                </div>
                                            </div>

                                            </div>
                                            <hr style="box-shadow: 0 0 3px rgba(0, 0, 0, 0.7);;height:1px;border:none;color:#1ea1f2;margin-top: 8px;background-color:#1ea1f2">

                                        {% endfor %}
                                {% else %}Le Groupe n'a aucun poste.{% endif %}
                                </ul>
                                            <div class="row text-center">
                                                <img id="loadingImageMoreComments" style="display: none; width: 40%;height: 5%; object-fit: contain;" class="img-rounded"  src="{% static 'SocialMedia/loading.gif' %}" />
                                            </div>
                            </div>
                            <!-- Activity List End -->


                        <!-- Load More Button Start -->
                            {% if statuts.has_next %}
                            <div class="load-more--btn pt--30 text-center hidden">
                                <a href="?page={{ statuts.next_page_number }}" class="btn btn-animate infinite-more-link">
                                    <span>See More Activities<i class="fa ml--10 fa-caret-right"></i></span>
                                </a>
                            </div>
                            {% endif %}
                        <!-- Load More Button End -->

{% endblock %}


{% block scripts %}

    {{ block.super }}
    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('#loadingImageMoreComments').fadeIn(250);
      },
      onAfterPageLoad: function ($items) {
        $('#loadingImageMoreComments').fadeOut(250);
      }
    });

    function getMoreComments(bt)
    {

        statutid = bt.getAttribute('data-statutid');
        nextp = bt.getAttribute('data-page');
        commentsURL = "{% url 'SocialMedia:getMoreComments' 999999 %}".replace(999999, {{ groupe.id }});
        $.ajax({
                    url: commentsURL,
                    type: 'GET',
                    data: {'page':nextp, 'statutid':statutid},
                    beforeSend: function (xhr, settings) {
                        $("#loadingImage").fadeIn(350);
                    },
                    success: function (data) {
                         bt.remove();
                        setTimeout(function(){
                        $(".commentaires"+statutid).append(data);
                        },250);
                    },
                    error: function () {
                    },
                    complete:function(){
                        $("#loadingImage").fadeOut(150);
                    },
                    stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
                        $("#squarespaceModal").modal("hide");
                        swal("Veuiller Verifier Votre Connexion Reseau Puis Ressayer", "Erreur Fatale", "error");
                    }
                });
    }

    $('#statutTextArea').focus(function(){
    $(this).attr('rows',8);
      }).blur(function(){
        $(this).attr('rows',1);
      });
  </script>

{% endblock %}



