{% extends "SocialMedia/groupe/base_groupe.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %}{{ groupe.nom }}{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'SocialMedia/css/mur/style1.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'SocialMedia/css/mur/style2.css' %}" type="text/css" />
{% endblock %}
{% block contentGroupe %}
                            <!-- Activity List Start -->

  <div class="row" style="    max-width:  100%;    margin-left: auto;    margin-right: auto;">
      <div class="well well-sm well-social-post">
        <form>
          {% render_field statutForm.contenu_statut style="transition: all 2s;" class="form-control" id="statutTextArea" placeholder="What is in your mind?" %}
          <ul class='list-inline post-actions' style="    font-size: 18px;      padding-top: 10px;">
              <li><a href="#"><i class="fa fa-camera" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-video-camera" aria-hidden="true"></i></a></li>
            <li><a href="#" ><i class="fa fa-file" aria-hidden="true"></i></a></li>
            <li class='pull-right'><button class="bttn-fill bttn-md bttn-royal" style="font-size: 15px;padding: 4px 25px;">Post</button></li>
          </ul>
        </form>
      </div>
  </div>

                            <div class="activity--list">

                                <!-- Activity Items Start -->
                                {% if statuts %}

                                <ul class="activity--items nav  infinite-container">

                                        {% for statut in statuts %}
                                        {% include "SocialMedia/groupe/statuts/statuts_groupe1.html" %}


                                            <div class="row text-center">
                                                <img id="loadingImage" style="display: none; width: 20%;height: 4%; object-fit: contain;" class="img-rounded"  src="{% static 'SocialMedia/img/loadingComment.gif' %}" />
                                            </div>

                                        {% endfor %}
                                {% else %}Le Groupe n'a aucun poste.{% endif %}
                                </ul>
                                            <div class="row text-center">
                                                <img id="loadingImageMoreComments" style="display: none; width: 40%;height: 5%; object-fit: contain;" class="img-rounded"  src="{% static 'SocialMedia/loading.gif' %}" />
                                            </div>
                            </div>
                            <!-- Activity List End -->


                        <!-- Load More Button Start -->
                            {% if statuts.has_next %}
                            <div class="load-more--btn pt--30 text-center hidden">
                                <a href="?page={{ statuts.next_page_number }}" class="btn btn-animate infinite-more-link">
                                    <span>See More Activities<i class="fa ml--10 fa-caret-right"></i></span>
                                </a>
                            </div>
                            {% endif %}
                        <!-- Load More Button End -->

{% endblock %}


{% block scripts %}

    {{ block.super }}

    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('#loadingImageMoreComments').fadeIn(250);
      },
      onAfterPageLoad: function ($items) {
        $('#loadingImageMoreComments').fadeOut(250);
      }
    });

    function getMoreComments(bt)
    {

        statutid = bt.getAttribute('data-statutid');
        nextp = bt.getAttribute('data-page');
        commentsURL = "{% url 'SocialMedia:getMoreComments' 999999 %}".replace(999999, {{ groupe.id }});
        $.ajax({
                    url: commentsURL,
                    type: 'GET',
                    data: {'page':nextp, 'statutid':statutid},
                    beforeSend: function (xhr, settings) {
                        $("#loadingImage").fadeIn(350);
                    },
                    success: function (data) {
                         bt.remove();
                        setTimeout(function(){
                        $(".commentaires"+statutid).append(data);
                        },250);
                    },
                    error: function () {
                    },
                    complete:function(){
                        $("#loadingImage").fadeOut(150);
                    },
                    stop: function (e) {  /* 3. WHEN THE UPLOADING PROCESS FINALIZE, HIDE THE MODAL */
                        $("#squarespaceModal").modal("hide");
                        swal("Veuiller Verifier Votre Connexion Reseau Puis Ressayer", "Erreur Fatale", "error");
                    }
                });
    }

    $('#statutTextArea').focus(function(){
    $(this).attr('rows',8);
      }).blur(function(){
        $(this).attr('rows',1);
      });
  </script>

{% endblock %}



